{{ if .Title }}
<figure>
  <a href="{{ .Destination | safeURL }}" data-dimbox="">
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title }} title="{{ . }}" {{ end }}
      style="display:block; margin: auto;" />
  </a>
  <figcaption>{{ safeHTML .Title }}</figcaption>
</figure>
{{ else }}
<a href="{{ .Destination | safeURL }}" data-dimbox="">
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title }} title="{{ . }}" {{ end }}
  style="display:block; margin: auto;" />
</a>
{{ end }}
