{{ define "main" }}

<!-- <section class="hero is-large">
  <div class="hero-body" style="background-image: url(/images/markvincze-presenting-cropped.jpg); background-position: center;">
    <div class="container has-text-centered has-text-white">
      <h1 class="title is-1 has-text-white">
        Mark Vincze
      </h1>
      <h2 class="subtitle is-4 has-text-white">
        Software Developer
      </h2>
    </div>
  </div>
</section> -->

<!-- <section class="section" style="background-image: url(/images/markvincze-presenting.jpg); background-position: center;"> -->
<!-- <section class="section"> -->
<div class="columns" style="margin-bottom: 0px;">
  <!-- <div class="container content is-max-desktop columns"> -->
  <!-- <h1 class="title">{{ .Title }}</h1> -->
  <!-- <div class="column content">
    <div class="columns">
      <div class="column">
      </div>
      <div class="column">
        <p>
          I'm a software developer specialized in C# and modern C++, with extensive experience in using the Microsoft technology stack.
          I blog about things I find interesting during work and hobby projects.<br />
          I'm currently working at Travix in Amsterdam.
        </p>

        I worked with the following technologies.

        <ul>
          <li>C#: 6 years of experience, client and server side.</li>
          <li>C++: 3 years of developing modern, cross-platform code.</li>
          <li>XAML: Several projects for various platforms.</li>
          <li>ASP.NET: Used Web Forms, MVC and Web API.</li>
          <li>Other: WPF, Windows Phone, Azure, WinRT, WCF, JNI, TypeScript, MS SQL, Entity Framework, MS Mediaroom.</li>
        </ul>
        I occasionly tweet, and you can find me on Stack Overflow as well.
      </div>
    </div>
  </div> -->
  <div class="column content" style="display: flex">
    <div style="max-width: 60%; margin-left: auto; margin-right: 2em">
      <p>
        I'm a software developer specialized in C# and modern C++, with extensive experience in using the Microsoft technology stack.
        I blog about things I find interesting during work and hobby projects.<br />
        I'm currently working at Travix in Amsterdam.
      </p>

      I worked with the following technologies.

      <ul>
        <li>C#: 6 years of experience, client and server side.</li>
        <li>C++: 3 years of developing modern, cross-platform code.</li>
        <li>XAML: Several projects for various platforms.</li>
        <li>ASP.NET: Used Web Forms, MVC and Web API.</li>
        <li>Other: WPF, Windows Phone, Azure, WinRT, WCF, JNI, TypeScript, MS SQL, Entity Framework, MS Mediaroom.</li>
      </ul>

      I occasionly tweet, and you can find me on Stack Overflow as well.
    </div>
  </div>
  <!-- <div class="column" style="background-color: red">a</div> -->
  <div class="column" style="background-image: url(/images/markvincze-presenting-cropped-2.jpg); background-position: top left;">a</div>
</div>
<!-- </section> -->

{{ end }}