{{ define "main" }}

<div id="indexContainer" class="columns" style="padding-left: 1.5rem;">
  <div class="column content" style="display: flex">
    <div id="indexIntroduction" style="margin: 5em 2em 5em auto;">
      <p>
        <strong>Open for new remote opportunities in 2026.<br />
        You can reach out via <a href="mailto:hello@markvincze.com">email</a> or <a href="https://www.linkedin.com/in/markvincze">LinkedIn</a>, and find my <a href="cv.html">resume here</a>.</strong>
      </p>

      <p>
        I'm a software developer with over 10 years of experience, having worked in various areas and technologies, with extensive experience in using the Microsoft technology stack.<br />
      </p>

      <p>
        Nowadays I mostly focus on running ASP.NET Core applications efficiently in Kubernetes, on the Google Cloud.<br />
        I'm currently working for <a href="https://www.travix.com">Travix</a>, remotely from Budapest.
      </p>

      <p>
        I blog about things I find interesting during work and hobby projects.<br />
        I occasionally <a href="https://twitter.com/mrkvincze">tweet</a>, and you can find me on <a href="https://www.github.com/markvincze">GitHub</a> and <a href="https://stackoverflow.com/users/974733/mark-vincze">Stack Overflow</a> as well.
      </p>
    </div>
  </div>
  <div class="column is-block-desktop" style="display: none; background-image: url(/images/markvincze-presenting.jpg); background-position: top left;"></div>
</div>

{{ end }}