{{ define "main" }}

<div id="indexContainer" class="columns" style="padding-left: 1.5rem;">
  <div class="column content" style="display: flex">
    <div id="indexIntroduction" style="margin: 3em 2em 3em auto;">

      <p>
        I'm a software developer with over 10 years of experience, having worked with various technologies and domains, with extensive experience in using the Microsoft technology stack.<br />
      </p>

      <p>
        Nowadays I mostly focus on running Go and ASP.NET Core applications efficiently in Kubernetes, on the Google Cloud.<br />
        I'm currently working for <a href="https://www.refurbed.de">refurbed</a>, remotely from Budapest.
      </p>

      <p>
        I blog about things I find interesting during work and hobby projects.<br />
        I occasionally post on <a href="https://bsky.app/profile/markvincze.com">Bluesky</a>, and you can find me on <a href="https://www.github.com/markvincze">GitHub</a> and <a href="https://stackoverflow.com/users/974733/mark-vincze">Stack Overflow</a> as well.
      </p>

      <p>
        <strong>On AI</strong>: I don't use AI. Everything on my website and blog was written by hand, no AI was used for the production of any of my videos nor for writing the code in my GitHub repositories.</strong>
      </p>
    </div>
  </div>
  <div class="column is-block-desktop" style="display: none; background-image: url(/images/markvincze-presenting.jpg); background-position: top left;"></div>
</div>

{{ end }}
