{{ define "main" }}

<section class="section">
  <div class="container is-max-desktop">
    <h1 class="title is-1">{{ .Title }}</h1>

    {{ if eq .File.Dir "posts\\" }}
      {{ partial "date-and-tags.html" . }}
    {{ end }}

    <article class="content mt-6">
      {{ .Content }}
    </article>

    {{ if eq .File.Dir "posts\\" }}
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = '{{ .Permalink }}';
        {{ if isset .Params "ghostcommentid" }}
        this.page.identifier = '{{ .Params.ghostCommentId }}';
        {{ else if isset .Params "slug" }}
        this.page.identifier = '{{ .Params.slug }}';
        {{ else }}
        this.page.identifier = '{{ .Title }}';
        {{ end }}
      };
      (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://markvinczeblog.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  {{ end }}

</section>

{{ end }}