@import url('https://fonts.googleapis.com/css?family=Noto Sans:400,600,800');

body {
  background-color: lightsteelblue;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a:link,
a:visited {
  /* text-decoration: inherit; */
  color: inherit;
}

:root {
  --highlight-color: #156A99;
}

h1 {
  font-size: 2rem;
  color: var(--highlight-color)
}

ul {
  margin-top: 0;
  padding-left: 1.2rem;
}

#cv {
  box-sizing: border-box;
  max-width: 60rem;
  padding: 2.5rem;
  margin: 3rem auto;
  background-color: white;
  box-shadow:
    0px 0px 4px hsl(0deg 0% 0% / 0.1),
    0px 0px 8px hsl(0deg 0% 0% / 0.1),
    0px 0px 16px hsl(0deg 0% 0% / 0.1),
    0px 0px 32px hsl(0deg 0% 0% / 0.1),
    0px 0px 64px hsl(0deg 0% 0% / 0.1)
  ;
}

#header {
  display: grid;
  grid-template-columns: auto 1fr;
}

#name {
  font-size: 3.75rem;
  line-height: 1.1;
  font-family: "Noto Sans";
  font-weight: 800;
  padding-right: 2rem;
  color: var(--highlight-color)
}

#intro {
  padding-left: 2rem;
}

#intro>p:first-child {
  margin-block-start: 0.6rem;
  font-size: 1.25rem;
}

#contact {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

#experience {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 1rem;
}

.experience-year {
  padding-right: 5rem
}

.experience-position {
  font-weight: 600;
  color: var(--highlight-color)
}

.experience-company {
  font-weight: 600;
}

#education-language {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 1rem;
}

#education {
  display: grid;
  grid-template-columns: 7rem 1fr;
  row-gap: 1rem;
}

.education-detail {
  font-weight: 600;
  color: var(--highlight-color)
}

#language {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.language-name {
  font-weight: 600;
}

#technology-list {
  display: grid;
  grid-template-columns: 7rem 1fr;
  margin-bottom: 1rem;
}

.technology-name {
  font-weight: 600;
}

#technology-other {
  font-weight: 600;
}

#presenting-projects {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 1rem;
}

#projects {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.project-name {
  font-weight: 600;
  text-decoration: underline !important;
}

#presenting-list {
  display: grid;
  grid-template-columns: 7rem 1fr;
  margin-bottom: 1rem;
  row-gap: 1rem;
}

#meetups {
  font-weight: 600;
}

#teaching {
  font-weight: 600;
}

@media print {
  html {
    font-size: 12.5px;
  }

  #cv {
    box-sizing: border-box;
    padding: 40px 40px 0 40px;
    margin: 0;
    background-color: white;
    box-shadow: none;
  }
}