@import url('https://fonts.googleapis.com/css?family=Noto Sans:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open Sans:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Lora:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Noto Serif:400,500,600,700,800');

:root {
  --body-font-family: "Noto Sans";
  /* --heading-font-family: "Noto Sans"; */
  /* --heading-font-family: "Merriweather"; */
  /* --heading-font-family: "Noto Serif"; */
  --heading-font-family: "Lora";
  --heading-font-weight: 800;
  --strong-font-weight: 700;
  --highlight-color: #156A99;
}

body {
  background-color: lightsteelblue;
  /* font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
  font-family: var(--body-font-family)
}

a:link,
a:visited {
  text-decoration: inherit;
  color: inherit;
}

h1 {
  font-size: 2rem;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: var(--highlight-color);
  border-bottom: 0.1rem solid;
  margin-block-end: 0.52em;
  padding-bottom: 0.15em;
}

ul {
  margin-top: 0;
  padding-left: 1.2rem;
}

#cv {
  box-sizing: border-box;
  max-width: 60rem;
  padding: 2.5rem;
  margin: 3rem auto;
  background-color: white;
  box-shadow:
    0px 0px 4px hsl(0deg 0% 0% / 0.1),
    0px 0px 8px hsl(0deg 0% 0% / 0.1),
    0px 0px 16px hsl(0deg 0% 0% / 0.1),
    0px 0px 32px hsl(0deg 0% 0% / 0.1),
    0px 0px 64px hsl(0deg 0% 0% / 0.1)
  ;
}

#header {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem
}

#name {
  font-size: 3.75rem;
  line-height: 1.1;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  padding-right: 2rem;
  color: var(--highlight-color);
  border-right: 0.5rem solid;
}

#intro>p:first-child {
  margin-block-start: 0.6rem;
  font-weight: 700;
  font-size: 1.25rem;
}

#contact {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

#contact > a > span {
  text-decoration: underline;
  margin-left:0.4rem;
}

#experience {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 1rem;
}

.experience-year {
  padding-right: 5rem
}

.experience-position {
  font-weight: var(--strong-font-weight);
  color: var(--highlight-color);
}

.experience-company {
  font-weight: var(--strong-font-weight);
}

#technology-list {
  display: grid;
  grid-template-columns: 7rem 1fr;
  margin-bottom: 1rem;
}

.technology-name {
  font-weight: 600;
}

#technology-other {
  font-weight: 600;
}

#presenting-projects {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 2rem;
}

#projects {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.project-name {
  font-weight: 600;
  text-decoration: underline !important;
}

#presenting-list {
  display: grid;
  grid-template-columns: 7rem 1fr;
  margin-bottom: 1rem;
  row-gap: 1rem;
}

#meetups {
  font-weight: 600;
}

#teaching {
  font-weight: 600;
}

#education-language {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 2rem;
}

#education {
  display: grid;
  grid-template-columns: 7rem 1fr;
  row-gap: 1rem;
}

.education-detail {
  font-weight: 600;
  color: var(--highlight-color)
}

#language {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.language-name {
  font-weight: 600;
}

@media print {
  html {
    font-size: 12.5px;
  }

  #cv {
    box-sizing: border-box;
    padding: 40px 40px 0 40px;
    margin: 0;
    background-color: white;
    box-shadow: none;
  }
}

/* Hide the padding and the drop-shadow if the screen is narrow. */
@media screen and (max-width: 65rem) {
  body {
    background-color: white;
  }

  #cv {
    padding: 2rem;
    margin: 0 auto;
    box-shadow: none;
  }
}

/* Switch the contact list to two rows */
@media screen and (max-width: 57rem) {
  #contact {
    grid-template-columns: auto auto;
    row-gap: 1rem;
    justify-content: space-around;
  }
}

/* Switch to one-column view (mobile) */
@media screen and (max-width: 50rem) {
  #presenting-projects {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  #education-language {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  #cv {
    padding: 1rem;
    margin: 0 auto;
    box-shadow: none;
  }
}

/* Switch the name and intro to be underneath each other */
@media screen and (max-width: 42rem) {
  #header {
    display: grid;
    grid-template-columns: 1fr;
  }

  #name {
    margin: 0 auto 1rem auto;
    padding-right: 0;
    border-right: none;
  }
}

/* Switch the name and intro to be underneath each other */
@media screen and (max-width: 34rem) {
  #contact {
    grid-template-columns: auto;
    row-gap: 1rem;
    justify-content: space-around;
  }
}